<!doctype html>
<html lang="en">
    <head>
        <style>
            .menu{
            width: 100%;
            background: #1f2937; /*menu background*/
            color: white;
            padding: 3rem;
            box-sizing: border-box;
        }
        </style>
    </head>
  
  <body>
    <%- include('partials/head') %>
    <div class="container mx-auto">
      <%- include('partials/menu') %>
      <section>
        <h1>Welcome <%= user.username %></h1>
        <p>
          Main lobby
        </p>
        <image
          src="https://gravatar.com/avatar/<%= user.gravatar %>"
          alt="Gravater of <%= user.username %>" />
      </section>
      <div class="basis-2/6"><%- include('partials/chat') %></div>

    </body>
  </html>
